- const { envId, region, lang, option } = theme.twikoo
- const { use, lazyload, count } = theme.comments

script.
  (() => {
    const init = async () => {
      await twikoo.init(Object.assign({
        el: '#twikoo-wrap',
        envId: '!{envId}',
        onCommentLoaded: () => {
          anzhiyu.loadLightbox(document.querySelectorAll('#twikoo .tk-content img:not(.tk-owo-emotion)'))
        },
        lang: '!{lang}',
      }, !{JSON.stringify(option || {})}))
    }

    const loadTwikoo = async () => {
      if (typeof twikoo === 'object') setTimeout(runFn,0)
      else await getScript('!{url_for(theme.asset.twikoo)}').then(runFn)
    }

    const getCount = async () => {
      const countELement = document.getElementById('twikoo-count')
      if(!countELement) return
      await twikoo.getCommentsCount(Object.assign({
        envId: '!{envId}',
        urls: [window.location.pathname],
        includeReply: false,
      })).then(res => {
        countELement.textContent = res[0].count
      }).catch(err => {
        console.error(err)
      })
    }

    const runFn = () => {
      init();
      !{count ? 'GLOBAL_CONFIG_SITE.isPost && getCount()' : ''}
    }

    if ('!{use[0]}' === 'Twikoo' || !!{lazyload}) {
      if (!{lazyload}) anzhiyu.loadComment(document.getElementById('twikoo-wrap'), loadTwikoo)
      else loadTwikoo()
    } else {
      window.loadOtherComment = loadTwikoo
    }
  })()